<c-breadcrumb class="font-weigth-500 mb-5">
  <c-breadcrumb-item url="#">Trang Chủ</c-breadcrumb-item>
  <c-breadcrumb-item [active]="true">Danh Sách Game</c-breadcrumb-item>
</c-breadcrumb>
<c-row>
  @for (game of listGames; track game.id) {
    <c-col sm="6">
      <c-card>
        <c-card-header>
          <h4 class="card-title mb-0 text-center">{{game.name | uppercase }}</h4>
        </c-card-header>
        <c-card-body>
          <div class="d-flex align-item-center my-2 mb-4">
            <div class={{onRenderStatusClass(game.status)}}></div>
            <div class="status-text">{{onRenderGameStt(game.status) | uppercase}}</div>
          </div>
          <div class="d-flex align-item-center btn-actions">
            <button *ngIf="game.type == 1" class="gray" [cModalToggle]="listMatchModal.id" (click)="onShowModalListMatch()">QUẢN LÍ TRẬN ĐẤU</button>
            <button *ngIf="game.type == 2" disabled class="gray" [cModalToggle]="currentSession.id" (click)="onShowModalCurrentSession(game.type)">PHIÊN HIỆN TẠI</button>
            <button [disabled]="game.type == 2" class="brown" [cModalToggle]="result.id" (click)="onShowModalResult(game.type)">TRẢ KẾT QUẢ</button>
          </div>
          <div class="d-flex align-item-center btn-actions">
            <button [disabled]="game.type == 2" class="blue" [cModalToggle]="modal.id" (click)="onShowModalConfirm(1, game.type)">NGƯNG NHẬN CƯỢC</button>
            <button [disabled]="game.type == 2" class="red" [cModalToggle]="modal.id" (click)="onShowModalConfirm(2, game.type)">KẾT THÚC PHIÊN</button>
          </div>
          <div class="d-flex align-item-center btn-actions">
            <button [disabled]="game.type == 2" class="green" [cModalToggle]="newsession.id" (click)="onShowModalNewSession(game.type)">MỞ CƯỢC</button>
          </div>
        </c-card-body>
      </c-card>
    </c-col>
  }
</c-row>
<c-modal #modal backdrop="static" id="modal" [visible]="isModalVisibleFinishOrStop">
  <c-modal-body>
    <h5 cModalTitle class="w-100 text-center mb-4">{{title}}</h5>
    <p class="label-txt font-weigth-500">TRẬN ĐẤU:</p>
    <select class="input-el w-100 mb-3" [(ngModel)]="selectedMatchId">
      <option value="0" disabled>Chọn trận đấu</option>
      @for (match of listMatch; track match.matchId) {
        <option value="{{match.matchId}}">{{match.matchName}}</option>
      }
    </select>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="modal.id" cButton color="secondary">
      HỦY
    </button>
    <button cButton color="primary" (click)="onConfirmFinishOrStop()">XÁC NHẬN</button>
  </c-modal-footer>
</c-modal>
<c-modal #currentSession backdrop="static" id="currentSession">
  <c-modal-header>
    <h5 cModalTitle class="w-100 text-center">THÔNG TIN CHI TIẾT</h5>
  </c-modal-header>
  <c-modal-body>
    <table bordered cTable>
      <thead>
        <tr>
          <th scope="col" class="text-center">GÀ XANH</th>
          <th scope="col" class="text-center">GÀ ĐỎ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">GÀ XANH NGHỆ AN</td>
          <td class="text-center">GÀ ĐỎ NAM ĐỊNH</td>
        </tr>
      </tbody>
    </table>
    <p>
      THỜI GIAN BẮT ĐẦU: 12:00 20/10/2024
    </p>
    <p>
      THỜI GIAN KẾT THÚC: 12:00 20/10/2024
    </p>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="currentSession.id" cButton color="secondary">
      ĐÓNG
    </button>
  </c-modal-footer>
</c-modal>
<c-modal #result backdrop="static" id="result" [visible]="isModalVisibleResult">
  <c-modal-header>
    <h5 cModalTitle class="w-100 text-center">KẾT QUẢ</h5>
  </c-modal-header>
  <c-modal-body>
    <p class="label-txt font-weigth-500">TRẬN ĐẤU:</p>
    <select class="input-el w-100 mb-3" [(ngModel)]="selectedMatchId">
      <option value="0" disabled>Chọn trận đấu</option>
      @for (match of listMatch; track match.matchId) {
        <option value="{{match.matchId}}">{{match.matchName}}</option>
      }
    </select>
    <p class="font-weigth-500">
      CHỌN GÀ CHIẾN THẮNG:
    </p>
    <div class="d-flex justify-content-evenly">
      <c-form-check>
        <input cFormCheckInput type="radio" value="draw" name="chickenOpt" id="chickenhoa" [(ngModel)]="resultObj.winner" />
        <label cFormCheckLabel for="chickenhoa">HÒA</label>
      </c-form-check>
      <c-form-check>
        <input cFormCheckInput type="radio" value="blue" name="chickenOpt" id="chickengreen" [(ngModel)]="resultObj.winner" />
        <label cFormCheckLabel for="chickengreen">GÀ XANH</label>
      </c-form-check>
      <c-form-check>
        <input cFormCheckInput type="radio" value="red" name="chickenOpt" id="chickenred" [(ngModel)]="resultObj.winner" />
        <label cFormCheckLabel for="chickenred">GÀ ĐỎ</label>
      </c-form-check>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="result.id" cButton color="secondary">
      ĐÓNG
    </button>
    <button cButton color="primary" (click)="onSetResult()">XÁC NHẬN</button>
  </c-modal-footer>
</c-modal>
<c-modal #newsession backdrop="static" id="newsession" [visible]="isModalVisibleNewSession">
  <c-modal-header>
    <h5 cModalTitle class="w-100 text-center">PHIÊN CƯỢC MỚI</h5>
  </c-modal-header>
  <c-modal-body>
    <div class="mb-3">
      <div class="d-block mb-1 font-weigth-500">TRẬN ĐẤU:</div>
      <input name="match" type="text" placeholder="Trận đấu" class="input-el" [(ngModel)]="newSession.matchName">
    </div>
    <div class="mb-3">
      <div class="d-block mb-1 font-weigth-500">TÊN GÀ XANH:</div>
      <input name="chicken1" type="text" placeholder="Tên gà xanh" class="input-el" [(ngModel)]="newSession.chickenBlue">
    </div>
    <div class="mb-3">
      <div class="d-block mb-1 font-weigth-500">TÊN GÀ ĐỎ:</div>
      <input name="chicken2" type="text" placeholder="Tên gà đỏ" class="input-el" [(ngModel)]="newSession.chickenRed">
    </div>
    <div>
      <div class="d-block mb-1 font-weigth-500">LINK LIVE STREAM:</div>
      <input name="link" type="text" placeholder="Link live stream" class="input-el" [(ngModel)]="newSession.urlLiveStream">
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="newsession.id" cButton color="secondary">
      HỦY
    </button>
    <button cButton color="primary" (click)="onCreateNewSession()">XÁC NHẬN</button>
  </c-modal-footer>
</c-modal>
<c-modal #listMatchModal backdrop="static" id="listMatchModal" [visible]="isModalVisibleListMatch">
  <c-modal-header>
    <h5 cModalTitle class="w-100 text-center">DANH SÁCH TRẬN ĐẤU</h5>
  </c-modal-header>
  <c-modal-body>
    <table bordered cTable>
      <thead>
        <tr>
          <th scope="col" class="text-center">ID</th>
          <th scope="col" class="text-center">TÊN TRẬN ĐẤU</th>
          <th scope="col" class="text-center">TRẠNG THÁI</th>
          <th scope="col" class="text-center">HÀNH ĐỘNG</th>
        </tr>
      </thead>
      <tbody>
        @for (match of listMatch; track match.matchId) {
          <tr>
            <td class="text-center">{{match.matchId}}</td>
            <td class="text-center">{{match.matchName}}</td>
            <td class="text-center">{{onRenderGameStt(match.status)}}</td>
            <td class="text-center">
              <span class="detail-txt" (click)="onSelectMatch(match)" title="Chi Tiết">
                <svg [cIcon]="icons.cilList" size="xl" ></svg>
              </span>
              <span *ngIf="match.status == 3" class="detail-txt" title="Mở Lại Cược"(click)="onReopenMatch(match)">
                <svg [cIcon]="icons.cilPencil" size="xl"></svg>
              </span>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <div class="match-detail" *ngIf="selecteMatch">
      <h6 class="text-center">
        THÔNG TIN CHI TIẾT TRẬN ĐẤU
      </h6>
      <p>
        TÊN TRẬN ĐẤU: {{selecteMatch.matchName}}
      </p>
      <p>
        THỜI GIAN BẮT ĐẦU: {{selecteMatch.startTime * 1000 | date:'dd/MM/yyyy HH:mm'}}
      </p>
      <p>
        THỜI GIAN KẾT THÚC: {{selecteMatch.endTime && selecteMatch.endTime * 1000 | date:'dd/MM/yyyy HH:mm'}}
      </p>
      <P>
        KẾT QUẢ: {{selecteMatch.result.winnerName}}
        <button cButton color="warning" style="margin-left: 20px;" 
        (click)="
          isUpdateResult = true; 
          updateMatch = selecteMatch; 
          resultObj.winner = selecteMatch.result.winner;
        ">
          Thay Đổi Kết Quả
        </button>
      </P>
      <div class="update-result" *ngIf="isUpdateResult">
        <p class="font-weigth-500">
          CẬP NHẬT KẾT QUẢ: CHỌN GÀ CHIẾN THẮNG
        </p>
        <div class="d-flex justify-content-evenly">
          <c-form-check>
              <input cFormCheckInput type="radio" value="draw" name="chickenOpt" id="chickenhoa" [(ngModel)]="resultObj.winner" />
            <label cFormCheckLabel for="chickenhoa">HÒA</label>
          </c-form-check>
          <c-form-check>
              <input cFormCheckInput type="radio" value="blue" name="chickenOpt" id="chickengreen" [(ngModel)]="resultObj.winner" />
            <label cFormCheckLabel for="chickengreen">GÀ XANH</label>
          </c-form-check>
          <c-form-check>
              <input cFormCheckInput type="radio" value="red" name="chickenOpt" id="chickenred" [(ngModel)]="resultObj.winner" />
            <label cFormCheckLabel for="chickenred">GÀ ĐỎ</label>
          </c-form-check>
        </div>
        <div class="btn-update-result d-flex justify-content-end mt-3">
          <button cButton color="secondary" (click)="isUpdateResult = false;">
            HỦY
          </button>
          <button cButton color="primary" (click)="onChangeResult()">XÁC NHẬN</button>
        </div>
      </div>
      <p>THÔNG TIN GÀ:</p>
      <table bordered cTable>
        <thead>
          <tr>
            <th scope="col" class="text-center">GÀ XANH</th>
            <th scope="col" class="text-center">GÀ ĐỎ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">{{selecteMatch.chickenBlue}}</td>
            <td class="text-center">{{selecteMatch.chickenRed}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button [cModalToggle]="listMatchModal.id" cButton color="secondary">
      ĐÓNG
    </button>
  </c-modal-footer>
</c-modal>
<c-modal backdrop="static" [visible]="isModalReopenMatch">
  <c-modal-body>
    <h5 cModalTitle class="w-100 text-center mb-4">
      BẠN ĐANG MỞ LẠI CƯỢC CHO TRẬN ĐẤU: {{reopenMatch?.matchName}}
    </h5>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="isModalReopenMatch = false" cButton color="secondary">
      HỦY
    </button>
    <button cButton color="primary" (click)="onConfirmReopen()">XÁC NHẬN</button>
  </c-modal-footer>
</c-modal>